<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Storm.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E0339B9E1F0A18E700B0DEAA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E0339BBA1F0A18E700B0DEAA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E0339BC51F0A18E700B0DEAA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
